argcomplete==3.6.2
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
-e git+https://github.com/darkroastcreative/e621-content-collector.git@838f9b16cee977bd371fec0032e71dd346b4335f#egg=e621_content_collector
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==25.0
pipx==1.7.1
platformdirs==4.3.8
Pygments==2.19.2
requests==2.32.4
rich==14.0.0
shellingham==1.5.4
typer==0.16.0
typing_extensions==4.14.1
urllib3==2.5.0
userpath==1.9.2
